@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&family=Roboto&display=swap');

*{
    font-family: 'Nunito', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    /* text-transform: capitalize; */
    transition: all .2s linear;
}

html{
    font-size: 63%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 1rem
}

html::-webkit-scrollbar-track{
    background-color: #FFF3F3
}

html::-webkit-scrollbar-thumb{
    background-color: #3A929E;
}

section{
    /* position: fixed;
    top: 0; left: 0; right: 0; bottom:0;
    background: #DCD5D5; 
    padding: 35px 8%;
    display: flex */
    padding: 5px 5%

}

.header{
    /* position: fixed; */
    position: sticky;
    top: 0; left: 0; right: 0;
    background: #6B3434;
    /* padding: 10px; */
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    color: #FFFF;
}

/* .header #rumah {
    color: #665acd;
}

.header #indo{
    color: #DCD5D5;
} */

.home{
    background: #DCD5D5; 
    position: sticky
}

.btn{
    margin-top: 22px;
    display: inline-block;
    font-size: 15px;
    color: #FFFF;
    background: #DE6A6A;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 40px;
}

.btn:hover{
    background: #BC3F3F;
}

.logo{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff

}

header .navbar a{
    /* justify-content:center; */
    margin-right: 10px;
    font-size: 16px;
    border-radius: 10px;
    padding: 10px 10px;
    color: #FFFF
}

/* header .navbar a.active, */
.header .navbar a:hover{
    background: #B98282
}


/* search-form */
.header .search-form{
    position: absolute;
    top: 100%;
    right: 7%;
    background-color: #ffff;
    width: 400px;
    height: 50px;
    display: flex;
    /* align-items: center; */
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.2s;
}

.header .search-form.active {
    transform: scaleY(1);
}

.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 15px;
    color: #000;
    padding: 20px;
}

.header .search-form .bx{
    cursor: pointer;
    font-size: 20px;
    margin-right: 20px;
    color: #000;
}

.header .icons i,
.header .icons a{
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    width: 40px;
    text-align: center;
    font-size: 20px;
    color:#FFFF;
    border-radius: 50%;
    background: #B98282
}

.header .navbar-extra{
    /* margin-left: 100px; */
    cursor: pointer;
    height: 40px;
    line-height: 45px;
    width: 40px;
    text-align: center;
    font-size: 20px;
}

.header .navbar-extra:hover{
    background: #B98282;
    border-radius: 50%;
}


.header .icons i:hover,
.header .icons a:hover{
    color: #FFFF;
    background: #B98282;
    transform: rotate(360deg)
}

.header .icons #menu-bars{
    display: none; 
}

.home{
    padding: 10px 10%;
}

.home .home-slider .slide{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    padding-top: 100px;
    padding-bottom: 80px
}

.home .home-slider .slide .content{
    flex:45rem;
    /* padding-bottom: 100px */
}

.home .home-slider .slide .image{
    flex: 35rem;
}

.home .home-slider .slide .image img{
    /* justify-content: center;
    height: 330px; */
    height: 100%;
    width: 100%;
    border: 0px solid #0000;
    border-radius: 30%;
}

.home .home-slider .slide .content h1{
    color: #320A0A;
    font-size: 40px
}

.home .home-slider .slide .content h3{
    color: #673C3C;
    font-size: 20px
}

.home .home-slider .slide .content h4{
    padding-bottom: 10px;
    color: #320A0A;
    font-size: 12px
}

.home .home-slider .slide .content p{
    color: #320A0A;
    font-size: 13px;
    padding: 10px 0;
    line-height: 25px
}

.swiper-pagination{
    padding-top: 100px;
}

.swiper-pagination-bullet-active{
    background: #B98282
}

.heading{
    /* justify-content: space-between;
    align-items: center;
    padding-left: 200px */
    padding: 40px 8%;
    padding-bottom: 10px
}
.heading h1{
    font-size: 30px;
    color: #320A0A;
}

.heading h2{
    font-size: 18px;
    font-weight: 400;
    color: #673C3C;
    /* padding-bottom: 100px */
}

.box img{
    height: 300px;
    width: 250px;
    border: 3px solid #faeaea;
    border-radius: 15%;
    /* padding-top: 100px */
}

.categories{
    text-align: center
    /* background: #FFF3F3; */
}

.categories-container{
    display: flex;
    justify-content: center;
    gap: 70px;
    /* padding-top: 1px; */

    /* display: grid;
    grid-template-column: repeat(auto-fit, minmax(100px, auto));
    gap: 20px;
    margin-top: 40px; */
}

.categories-container .box{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px
}

.categories-container .box h2{
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #480000
}

.categories-container .box .bx{
    padding: 10px;
    /* color: #FFFF; */
    background: #DE6A6A;
    border-radius: 20px;
    margin-top: 10px;
    position: center;
    margin-bottom: 10px;
    font-size: 20px;
}

.categories-container .box .bx:hover{
    background: #BC3F3F;
    transition: 0.2 all linear;
    transform: rotate(360deg)

}

.must-visit {
    margin-top: 10px;
    padding-bottom: 70px;
    background: #DCD5D5;
}

.must-visit .title h1{
    font-size:30px;
    color: #320A0A
}

.title{
    /* padding: 40px 8%; */
    padding-top: 20px;
    padding-bottom: 10px
}

.title h2{
    padding-top: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #673C3C
}

.must-visit-container {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 50px;
    justify-content: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
    /* text-align: center */
}

.must-visit-container .kotak{
    /* padding: 30px 20px; */
    /* border: 1px solid #000;
    border-radius: 10%; */
    text-align: center;
    /* background: #DCD5D5 */
}


.must-visit-container .kotak img{
    border: 0px solid #000;
    border-radius: 10%
}

.must-visit-container .kotak h2{
    /* position: absolute;
    top:8px, right: 16px; */
    color: #673C3C
}

.footer{
    background: #6B3434;
    /* background: url(../images/bgfooter.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; */
    padding: 40px 8%;
    display: flex;
    gap: 110px;
    justify-content: center

    /* display: grid;
    grid-template-column: repeat(auto-fit,minmax(200px, auto));
    gap: 25px;
    margin-top: 40px; */   
}

.footer .footer-container p{
    color: #FFFF;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px

}

.footer .footer-container .social a{
    font-size: 20px;
    padding-right: 10px;
    padding-top: 20px;
}

.footer .footer-container .social .bx{
    padding: 10px;
    background: #3A929E;
    color: #FFFF;
    border-radius: 50%;
}

.footer .footer-container .social .bx:hover{
    background: #245157;
    transition: 0.2 all linear;
}

.footer .footer-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25 rem, 1fr));
    gap: 10px;

}

.footer .footer-box h3{
    color: #FFFF;
    font-size: 18px;
    padding-bottom: 8px
}

.footer .footer-box a{
    color: #FFFF;
    line-height: 18px;
    font-size: 14px;
    display: block;
}

.footer .footer-box a i{
    color: #FFFF;
    padding-right: 5px;
    transition: .2s linear;
}

.footer .footer-box a:hover i{
    padding-right: 10px;
}



/* .footer .footer-box p{
    font-size: 18px;
    color: #FFFF;
    padding-top: 20px;
    padding-bottom: 20px
} */



.copyright{
    background: #6B3434;
    margin-top:0.7px
}

.copyright p{
    text-align: center;
    font-size: 13px;
    font-weight: 300;
    color: #FFFF;
    padding: 10px
}

/* files destinasi_sejarah */
.destinasi-sejarah{
    position: sticky;
    background-color: #DCD5D5;
    
}

.judul h1{
    font-size: 25px;
    color: #480000;
    text-align: center;
    padding: 20px;
}

.sejarah-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 50px;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

.sejarah-container .box1 {
    position: relative;
    text-align: center;
}

.sejarah-container .box1 h2{
    position: absolute;
    color: #ffffff;
    font-size: 18px;
    /* font-weight: 500; */
    top: 170px;
    right: 30px;
    left: 30px;

}

.sejarah-container .box1 img{
    border: 0px #000;
    border-radius: 10%;
}

.alam-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 50px;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

.alam-container .box2 {
    position: relative;
    text-align: center;
}

.alam-container .box2 h2{
    position: absolute;
    color: #ffffff;
    font-size: 18px;
    /* font-weight: 500; */
    top: 170px;
    right: 30px;
    left: 30px;

}

.alam-container .box2 img{
    border: 0px #000;
    border-radius: 10%;
}






























































/* media queries */
@media (max-width:1200px){
    /* html{
        font-size: 55%;
    }

    .header{
        padding: 20px 30px;
    } */

    section{
        padding: 3rem 5%;
    }
}

@media (max-width:991px){
    html{
        font-size: 50%;
    }
    section{
        padding: 3rem 2rem;
    }

}

@media (max-width:450px){
    html{
        font-size: 50%;
    }

}

@media (max-width:758px){
    .header .icons #menu-bars{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top:100%; left:0; right:0;
        background: #6B3434;
        border-top: 2px solid rgba(0,0,0,.2);
        border-bottom: 2px solid rgba(0,0,0,.2);
        padding: 20px;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%)
    }

    .header .navbar a{
        display: block;
        margin: 20px 20px 20px 1px;
        font-size: 16px;
        background: #6B3434
    }

    .home .home-slider .slide .content h3{
        font-size: 15px
    }

    .header .search-form{
        width: 90%;
        right: 20px;
    }
}

